<!DOCTYPE html>
<html>
<head>
	<title>Appointments Viewer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<style type="text/css">
	.container1 {
		border: solid;
	}
</style>
<body>
	<div class="container">
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Appointment Details</h1>
    </div>
</div>
<div class="container1">
	
<table class="table">
<thead>
    <tr>
      <th>Phone Number:</th>
      <th>Address:</th>
      <th>Email:</th>
	    {% for item in query_results %}
	    <tr> 
	        <td>{{ item.id }}</td>
	        <td>{{ item.phone_number }}</td>
	        <td>{{ item.address }}</td>
	        <td>{{ item.email }}</td>

			<td>
			    <form action="{% url 'update' item.id %}" method=POST class=update>
			    {% csrf_token %}
			    <input type=hidden value={{item.id}} name=update></input>
			    <input type=submit value=Update></input>
			    </form>
			</td>
	    </tr>
	    {% endfor %}
	    
</table>
</table>
</div>
</body>
</html>