<html>
<head>
    <title>{% block title %}CareCenter4U{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>
<body>
<!--Comment-->
<header>
    <div class="logo">
        <a href="/">
            <img src="/static/img/logo_new.png">
        </a>
    </div>
    <div class="main-menu">
        <a href="/" class="button">Homepage</a>
        {% if user.is_authenticated %}
            {% if user.citizen %}
                | <a href="{% url "index" %}" class="button">Doctor appointment</a>
                | <a href="{% url "centers_map" %}" class="button">Centers Map</a>
            {% endif %}
            | <a href="{% url "update" user.id %}" class="button">Update</a>
            | <a href="{% url "centers_index" %}" class="button">Centers</a>
        {% endif %}
        {% if user.is_authenticated and user.is_superuser %}
            | <a href="{% url "centers_map" %}" class="button">Centers Map</a>
            | <a href="/admin/" class="button">Admin</a>
        {% endif %}
        {% if user.secretary %}
            | <a href="{% url "view_appointment_sec" %}" class="button">View Appointments</a>
            | <a href="{% url "centers_map" %}" class="button">Centers Map</a>
        {% endif %}
    </div>
    <div class="login-box">
        {% if user.is_anonymous %}
            <a class="auth-button" href="{% url "login" %}">Login</a> |
            <a class="auth-button" href="{% url "register" %}">Register</a>
        {% else %}
            Hello {{ user.first_name }}, <a class="auth-button" href="{% url "logout" %}">Logout</a>
        {% endif %}
    </div>
</header>
<p>&nbsp;</p>
<div class="content">
    {% block content %}
        Put your content here
    {% endblock %}
</div>
{% block extra_footer %}
{% endblock %}
</body>
</html>
