<html>
<head>
    <title>CareCenter4U</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>
	<!--Comment-->
    <header>
        <div class="logo">
            <a href="/">
                <img src="/static/img/logo_new.png">
            </a>
        </div>
        <div class="main-menu">
            <a href="/" class="button">Homepage</a>
            {% if user.is_authenticated %}
                {% if user.citizen %}
            	    | <a href="{% url "index" %}" class="button">Doctor appointment</a>
                {% endif %}
                | <a href="{% url "update" user.id %}" class="button">Update</a>
		| <a href="{% url "centers_index" %}" class="button">Centers</a>
		| <a href="http://127.0.0.1:8000/users/lloo" class="button" rel="noopener noreferrer">Nearest Centers</a>
           	{% endif %}
            {% if user.is_authenticated and user.is_superuser %}
                | <a href="/admin/" class="button">Admin</a>
            {% endif %}
           	{% if user.is_authenticated and user.secretary %} 
            	| Add
           	 	| Update
           	{% endif %}
        </div>
        <div class="login-box">
            {% if user.is_anonymous %}
                <a class="auth-button" href="{% url "login" %}">Login</a> |
                <a class="auth-button" href="{% url "register" %}">Register</a>
            {% else %}
                Hello {{ user.first_name }}, <a class="auth-button" href="{% url "logout" %}">Logout</a>
            {% endif %}
        </div>
    </header>
    <p>&nbsp;</p>
    <div class="content">
        {% block content %}
            Put your content here
        {% endblock %}
    </div>
</body>
</html>
