{%  extends "base.html" %}
{% block content %}
    <div class="rtl">
        <div class="all"><a href="{% url "center_list" city_id=city.id %}">כל המרפאות ב{{ city.name }}</a></div>
        <h1>{{ city.name }}:</h1>

        <ul class="option_list">
            {% for neighborhood in neighborhoods %}
                <li><a href="{% url "center_list" city_id=city.id neighborhood_id=neighborhood.id %}">{{ neighborhood.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

